/* /Removinhg Predefined Margins & Paddings */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* Adding Bg Color to body and color for font */
body{
    background-color: #1e1e1e;
    font-family: sans-serif;
    color:#a0a0a0;
    line-height: 1.6;
}
/* Main Container in which sidebar and content relise */
.main-container{
    padding-top: 40px;
    margin:auto;
    display: grid;
    max-width: 1300px;
    grid-template-columns: 400px 1fr;
    gap:45px;
} 
.sidebar{
    height:90vh;
    background-color: #2a2a2a;
    border-radius: 16px;
    border:3px solid #a3a3a3;
    padding:30px;
    position: sticky;
    top:40px;
}
.content{
    /* height:100vh; */
    background-color: #2a2a2a;
    border-radius: 16px;
    border:3px solid #a3a3a3;
    padding: 40px;
}
/* SideBar Profile Section */
.profile{
    text-align:center;
}
.profile img{
    
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid #a3a3a3;
    
}
.profile h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
    color:#e0e0e0;
}
.profile p{
    background-color: #1e1e1e;
    color:#FFBF00;
    padding: 5px 15px;
    margin-top: 10px;
    display: inline-block;
    border: 1px solid #3a3a3a;
    border-radius: 6px;
    font-size: 0.8rem;
    margin-bottom: 10px;
}
  
/* SideBar Contact Section */
.contact{
    margin-top: 20px;
    border-top: 2px solid #3a3a3a;
}
.label{
    font-size: 0.8rem;
    font-weight: 600;
    color: #a0a0a0;
}
.val{
    text-decoration: none;
    color: #e0e0e0;
}
.contact .mail,.phone,.location{
    margin-top: 10px;
}
/* SideBar Social Media Section */
.social{
    margin-top: 20px;
    border-top: 2px solid #3a3a3a;
    text-align: center;
}
.icon{
    margin-top: 20px;
    height: 50px;
    width: 50px;
    margin-left: 5px;
    filter: grayscale(1) invert(0.7);
    transition: filter 0.3s ease;
}
/* .i2{
    height: 40px;
    width: 50px;
    margin-left: 10px;
} */
.icon:hover{
    filter:grayscale(0) invert(0) ;

}
/* Main Content  */
#navigation{
    
    display: flex;
    justify-content: flex-end;
    gap:30px;
    border-bottom: 1px solid #a3a3a3;
    padding-bottom: 15px;
    position: sticky;
    top:10px;
    
}
#navigation a{
    text-decoration: none;
    color:#a0a0a0;
    font-weight: 500;
    transition: color 0.3s ease;
}
  #navigation a:hover {
    color:#FFBF00;
}
#navigation a:active {
    color:#1e00ff96;
}
.heading{
    color:#e0e0e0;
    margin-bottom: 10px;
    font-size: 1.5rem;
    margin-top: 10px;
}
.line{
    height: 5px;
    width: 60px;
    background-color: #FFBF00;
    margin-bottom: 10px;
}
.para{
    text-align:justify;
}
#about{
    margin-bottom: 20px;
}
.grid-container{
    display:grid;
    /* grid-template-columns: repeat(autofit, minmax(120px, 1fr)); */
     grid-template-columns: repeat(4,1fr); 
    grid-template-rows: 1fr 1fr;
    gap:20px;

}
.item-image{
    width: 50px;
    height: 50px;
}
.item{
    
    padding:5px;
    border:2px solid #3a3a3a;
    border-radius: 10px;
    background-color: #1e1e1e;
    text-align: center;
    padding: 10px;
}
.item-head{
    font-size:1rem;
    font-weight:600;
}
.item-image{
    filter: brightness(0) saturate(100%) invert(60%) sepia(99%) saturate(500%) hue-rotate(0deg) brightness(107%) contrast(104%);
    transition: transform 1s ease;
}
.item:hover{
    transform: scale(0.9);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
}
/* .Academic-Container{
    margin-left:40px;
padding:20px;} */
.pg,.ug{
    margin-bottom: 30px;
    margin-left: 30px;
    padding-left:30px;
    position: relative;
}
#academics{
    margin-top: 20px;
}
.year{
    font-size: .9rem;
    margin-bottom: 5px;
    color: #a0a0a0;
}
.degree{
    font-weight: 500;
    font-size: 1.3rem;
    color: #e0e0e0;
    margin-bottom: 5px;
}
.college{
    font-style: italic;
    color: #a0a0a0;
    margin-bottom:10px ;
}

.point{
    height: 10px;
    width:10px;
    border: 3px solid #FFBF00;
    border-radius: 50%;
    position: absolute;
    top:5px;
    left:0;
    z-index: 1;
}
.Academic-Container{
    margin-top: 20px;
    position: relative;
}
.liner{
    position: absolute;
    width:2px;
    border: 3px solid #3a3a3a;
    top: 5px;
    left:33px;
    bottom: 5px;
}
.project-container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:25px;    
}
.project-image{
    height:180px;
    width: 100%;
    object-fit: cover;
}
.des{
   padding: 20px;
}
.project-description{
    color:#e0e0e0;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.des span{
    background-color: rgba(255,191,0,0.1);
    color: #FFBF00;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 0.75rem;
    margin-right: 5px;
}
.des p{
    color:#a0a0a0;
    line-height: 1.2;
    margin-bottom: 10px;
}
.card{
    background-color: #1e1e1e;
    border-radius: 12px;
    transition: transform 0.5s ease,box-shadow 0.3s ease;
    overflow: hidden;
}
.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);

}
